<div class="col-sm-12 text-right">
    <a class="primary-link show-code" ng-click="openCode('#nav1')">
        <i class="lnr lnr-chevron-left"></i>
        <i class="lnr lnr-chevron-right"></i>
        <span>CODE</span>
    </a>
</div>
<div class="code-holder col-sm-12" id="nav1">
    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                HTML
            </uib-tab-heading>
            <pre>
            <code class="language-markup">
                        &lt;section class="navigation top-fixed" ng-class="{'open': navIsOpen}"&gt;
                            &lt;nav&gt;
                                &lt;div class="btn-holder" ng-click="navIsOpen =! navIsOpen"&gt;
                                    &lt;div class="menu-btn"&gt;
                                        &lt;span&gt;&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="logo-holder"&gt;
                                    &lt;img src="images/logo.jpg" alt="" /&gt;
                                &lt;/div&gt;
                                &lt;div class="navbar-content"&gt;
                                    &lt;div class="items-holder"&gt;
                                        &lt;div class="hidden-scroll"&gt;
                                            &lt;div class="menu left"&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;
                                                        &lt;a href&gt;
                                                            &lt;i class="lnr lnr-home"&gt;&lt;/i&gt;Menu item
                                                        &lt;/a&gt;
                                                    &lt;/li&gt;
                                                    &lt;li&gt;
                                                        &lt;a href&gt;
                                                            &lt;i class="lnr lnr-apartment"&gt;&lt;/i&gt;Menu item
                                                        &lt;/a&gt;
                                                    &lt;/li&gt;
                                                    &lt;li&gt;
                                                        &lt;a href class="active"&gt;
                                                            &lt;i class="lnr lnr-bicycle"&gt;&lt;/i&gt;Menu item
                                                        &lt;/a&gt;
                                                    &lt;/li&gt;
                                                    &lt;li&gt;
                                                        &lt;a href&gt;
                                                            &lt;i class="lnr lnr-calendar-full"&gt;&lt;/i&gt;Menu item
                                                        &lt;/a&gt;
                                                    &lt;/li&gt;
                                                    &lt;li&gt;
                                                        &lt;a href&gt;
                                                            &lt;i class="lnr lnr-diamond"&gt;&lt;/i&gt;Menu item
                                                        &lt;/a&gt;
                                                    &lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                            &lt;div class="menu right hidden-xs hidden-sm"&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;
                                                        &lt;div class="btn-group language"&gt;
                                                            &lt;a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                                                                &lt;span&gt;
                                                                    &lt;img src="images/flags/en.png" alt="" /&gt;
                                                                &lt;/span&gt;English
                                                                &lt;span class="lnr lnr-chevron-down"&gt;&lt;/span&gt;
                                                            &lt;/a&gt;
                                                            &lt;ul class="dropdown-menu"&gt;
                                                                &lt;li&gt;
                                                                    &lt;a href&gt;
                                                                        &lt;span&gt;
                                                                            &lt;img src="images/flags/en.png" alt="" /&gt;
                                                                        &lt;/span&gt;English
                                                                    &lt;/a&gt;
                                                                &lt;/li&gt;
                                                                &lt;li&gt;
                                                                    &lt;a href&gt;
                                                                        &lt;span&gt;
                                                                            &lt;img src="images/flags/no.png" alt="" /&gt;
                                                                        &lt;/span&gt;Norwegian
                                                                    &lt;/a&gt;
                                                                &lt;/a&gt;
                                                            &lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/li&gt;
                                                &lt;li&gt;
                                                    &lt;div class="btn-group alerts"&gt;
                                                        &lt;a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                                                            &lt;span class="icon"&gt;
                                                                &lt;i class="lnr lnr-inbox"&gt;&lt;/i&gt;
                                                                &lt;span class="badge primary"&gt;32&lt;/span&gt;
                                                            &lt;/span&gt;
                                                            &lt;span class="lnr lnr-chevron-down"&gt;&lt;/span&gt;
                                                        &lt;/a&gt;
                                                        &lt;ul class="dropdown-menu"&gt;
                                                            &lt;li&gt;Notifications&lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;Another action&lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;Something else here&lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;Separated link&lt;/a&gt;
                                                            &lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/li&gt;
                                                &lt;li&gt;
                                                    &lt;div class="btn-group user"&gt;
                                                        &lt;a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                                                            &lt;span class="group-img"&gt;
                                                                &lt;img src="images/user.png" alt="" /&gt;
                                                            &lt;/span&gt;Username
                                                            &lt;span class="lnr lnr-chevron-down"&gt;&lt;/span&gt;
                                                        &lt;/a&gt;
                                                        &lt;ul class="dropdown-menu"&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;Action&lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;Another action&lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;Something else here&lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;Separated link&lt;/a&gt;
                                                            &lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/li&gt;
                                            &lt;/ul&gt;
                                        &lt;/div&gt;
                                        &lt;div class="menu right visible-xs visible-sm"&gt;
                                            &lt;ul&gt;
                                                &lt;li&gt;
                                                    &lt;div class="btn-group all"&gt;
                                                        &lt;a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                                                            &lt;span class="group-img"&gt;
                                                                &lt;img src="images/user.png" alt="" /&gt;
                                                            &lt;/span&gt;Username
                                                            &lt;span class="lnr lnr-chevron-down"&gt;&lt;/span&gt;
                                                        &lt;/a&gt;
                                                        &lt;ul class="dropdown-menu"&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;
                                                                    &lt;i class="lnr lnr-mustache"&gt;&lt;/i&gt;My profile
                                                                &lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;
                                                                    &lt;span&gt;
                                                                        &lt;img src="images/flags/en.png" alt="" /&gt;
                                                                    &lt;/span&gt;English
                                                                &lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;
                                                                    &lt;span&gt;
                                                                        &lt;img src="images/flags/no.png" alt="" /&gt;
                                                                    &lt;/span&gt;Norwegian
                                                                &lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;
                                                                    &lt;span class="icon"&gt;
                                                                        &lt;i class="lnr lnr-alarm"&gt;&lt;/i&gt;Notifications
                                                                        &lt;span class="badge primary"&gt;32&lt;/span&gt;
                                                                    &lt;/span&gt;
                                                                &lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;
                                                                    &lt;i class="lnr lnr-exit"&gt;&lt;/i&gt;Log out
                                                                &lt;/a&gt;
                                                            &lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/li&gt;
                                            &lt;/ul&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="overlay visible-xs visible-sm"&gt;&lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/nav&gt;
                    &lt;/section&gt;
                        </code>
                    </pre>
        </uib-tab>
    </uib-tabset>
</div>