
<div class="col-sm-12 text-right">
    <a class="primary-link show-code" ng-click="openCode('#panel')">
        <i class="lnr lnr-chevron-left"></i>
        <i class="lnr lnr-chevron-right"></i>
        <span>CODE</span>
    </a>
</div>

<div class="code-holder col-sm-12" id="panel">
    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                HTML
            </uib-tab-heading>
            <pre>
            <code class="language-markup">
                &lt;div class="panel"&gt;
                    &lt;div class="panel-heading"&gt;Panel title&lt;/div&gt;
                    &lt;div class="panel-body"&gt;Integer vel tellus lectus. In hac habitasse platea dictumst. Sed a arcu ultricies, facilisis lacus id, volutpat libero. Nam eget tellus sapien.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus finibus et massa quis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi accumsan tellus eu orci sagittis pellentesque.&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="panel"&gt;
                    &lt;div class="panel-heading"&gt;Panel title
                        &lt;i class="delete-btn lnr lnr-trash pull-right" ng-click="deletePanel($event)"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;div class="panel-body"&gt;Integer vel tellus lectus. In hac habitasse platea dictumst. Sed a arcu ultricies, facilisis lacus id, volutpat libero. Nam eget tellus sapien.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus finibus et massa quis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi accumsan tellus eu orci sagittis pellentesque.&lt;/div&gt;
                &lt;/div&gt;  
                &lt;div class="panel"&gt;
                    &lt;div class="panel-heading"&gt;Panel title
                        &lt;i class="expand-btn lnr lnr-frame-expand pull-right" ng-click="expandPanel($event)"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;div class="panel-body"&gt;Integer vel tellus lectus. In hac habitasse platea dictumst. Sed a arcu ultricies, facilisis lacus id, volutpat libero. Nam eget tellus sapien.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus finibus et massa quis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi accumsan tellus eu orci sagittis pellentesque.&lt;/div&gt;
                &lt;/div&gt;      
            </code>
            </pre>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                JS
            </uib-tab-heading>
            <pre>
            <code class="language-javascript">
                // Delete panel
                     $scope.deletePanel = function (event) {
                        event.target.offsetParent.remove();
                    };
                // Expand panel 
                    $scope.expandPanel = function (event) {
                        var panel = $(event.target.parentNode.parentNode);
                        panel.toggleClass('expanded');
                    };   
            </code>
            </pre>
        </uib-tab>
    </uib-tabset>
</div>