<div class="col-sm-12 wrapper">
    <h3 class="margin-bottom-32"><strong>File upload<strong /></h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="drop-box-paper">
                <div class="head-section" ng-click="openUpload()">
                    <span class="folded-corner"></span>
                    <i class="lnr lnr-cloud-upload"></i>
                </div>
                <div class="fill-element"></div>
                <div ngf-drop ng-model="file" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                     accept="image/*,application/pdf"
                     ngf-pattern="'image/*,application/pdf'">
                    <div class="drop-content">
                        <p>Drag and drop files here</p>
                        <i class="lnr lnr-picture"></i>
                        <span>or</span>
                        <span class="browse" ngf-select="upload($file)">browse files</span>
                        <ul class="files-list">
                            <li ng-repeat="a in attachments">
                                <i class="lnr lnr-pushpin"></i>
                                <p>{{a.name}}</p>
                                <span class="lnr lnr-trash delete-btn" ng-click="delete($index)"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="done-msg">
                        <i class="lnr lnr-smile"></i>
                        <p>Upload complete !</p>
                    </div>
                    <div class="upload-btn-holder">
                        <button class="btn btn-default upload-btn" ng-click="done()" ng-if="attachments.length > 0">
                            <p>Upload</p>
                            <div class="fill"></div>
                            <i class="lnr lnr-cloud-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="drop-box-holder">
                <div ngf-drop ng-model="file" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                     accept="image/*,application/pdf"
                     ngf-pattern="'image/*,application/pdf'">
                    <div class="drop-content">
                        <p>Drag and drop files here</p>
                        <span>or</span>
                        <span class="browse" ngf-select="upload($file)">browse files</span>
                        <ul class="files-list">
                            <li ng-repeat="a in attachments">
                                <i class="lnr lnr-pushpin"></i>
                                <p>{{a.name}}</p>
                                <span class="lnr lnr-trash delete-btn" ng-click="delete($index)"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="done-msg">
                        <i class="lnr lnr-smile"></i>
                        <p>Upload complete !</p>
                    </div>
                    <div class="upload-btn-holder">
                        <button class="btn btn-default upload-btn" ng-click="done()" ng-if="attachments.length > 0">
                            <p>Upload</p>
                            <div class="fill"></div>
                            <i class="lnr lnr-cloud-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="drop-box-holder boxed">
                <div class="head-section">
                    <i class="lnr lnr-cloud-upload"></i>
                </div>
                <div ngf-drop ng-model="file" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                     accept="image/*,application/pdf"
                     ngf-pattern="'image/*,application/pdf'">
                    <div class="drop-content">
                        <p>Drag and drop files here</p>
                        <span>or</span>
                        <span class="browse" ngf-select="upload($file)">browse files</span>
                        <ul class="files-list">
                            <li ng-repeat="a in attachments">
                                <i class="lnr lnr-pushpin"></i>
                                <p>{{a.name}}</p>
                                <span class="lnr lnr-trash delete-btn" ng-click="delete($index)"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="done-msg">
                        <i class="lnr lnr-smile"></i>
                        <p>Upload complete !</p>
                    </div>
                    <div class="upload-btn-holder">
                        <button class="btn btn-default upload-btn" ng-click="done()" ng-if="attachments.length > 0">
                            <p>Upload</p>
                            <div class="fill"></div>
                            <i class="lnr lnr-cloud-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-12 text-right">
    <a class="primary-link show-code" ng-click="openCode('#fu')">
        <i class="lnr lnr-chevron-left"></i>
        <i class="lnr lnr-chevron-right"></i>
        <span>CODE</span>
    </a>
</div>

<div class="code-holder col-sm-12" id="fu">

    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                HTML
            </uib-tab-heading>
            <pre>
            <code class="language-markup">  
                // Paper
                &lt;div class="drop-box-paper"&gt;
                    &lt;div class="head-section" ng-click="openUpload()"&gt;
                        &lt;span class="folded-corner"&gt;&lt;/span&gt;
                        &lt;i class="lnr lnr-cloud-upload"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;div class="fill-element"&gt;&lt;/div&gt;
                    &lt;div ngf-drop ng-model="file" class="drop-box"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                                     accept="image/*,application/pdf"
                                     ngf-pattern="'image/*,application/pdf'"&gt;
                        &lt;div class="drop-content"&gt;
                            &lt;p&gt;Drag and drop files here&lt;/p&gt;
                            &lt;i class="lnr lnr-picture"&gt;&lt;/i&gt;
                            &lt;span&gt;or&lt;/span&gt;
                            &lt;span class="browse" ngf-select="upload($file)"&gt;browse files&lt;/span&gt;
                            &lt;ul class="files-list"&gt;
                                &lt;li ng-repeat="a in attachments"&gt;
                                    &lt;i class="lnr lnr-pushpin"&gt;&lt;/i&gt;
                                    &lt;p&gt;{{a.name}}&lt;/p&gt;
                                    &lt;span class="lnr lnr-trash delete-btn" ng-click="delete($index)"&gt;&lt;/span&gt;
                                &lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;div class="done-msg"&gt;
                            &lt;i class="lnr lnr-smile"&gt;&lt;/i&gt;
                            &lt;p&gt;Upload complete !&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class="upload-btn-holder"&gt;
                            &lt;button class="btn btn-default upload-btn" ng-click="done()" ng-if="attachments.length &gt;0"&gt;
                                &lt;p&gt;Upload&lt;/p&gt;
                                &lt;div class="fill"&gt;&lt;/div&gt;
                                &lt;i class="lnr lnr-cloud-check"&gt;&lt;/i&gt;
                            &lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;  
                
                // Default
                &lt;div class="drop-box-holder"&gt;
                    &lt;div ngf-drop ng-model="file" class="drop-box"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                                     accept="image/*,application/pdf"
                                     ngf-pattern="'image/*,application/pdf'"&gt;
                        &lt;div class="drop-content"&gt;
                            &lt;p&gt;Drag and drop files here&lt;/p&gt;
                            &lt;span&gt;or&lt;/span&gt;
                            &lt;span class="browse" ngf-select="upload($file)"&gt;browse files&lt;/span&gt;
                            &lt;ul class="files-list"&gt;
                                &lt;li ng-repeat="a in attachments"&gt;
                                    &lt;i class="lnr lnr-pushpin"&gt;&lt;/i&gt;
                                    &lt;p&gt;{{a.name}}&lt;/p&gt;
                                    &lt;span class="lnr lnr-trash delete-btn" ng-click="delete($index)"&gt;&lt;/span&gt;
                                &lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;div class="done-msg"&gt;
                            &lt;i class="lnr lnr-smile"&gt;&lt;/i&gt;
                            &lt;p&gt;Upload complete !&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class="upload-btn-holder"&gt;
                            &lt;button class="btn btn-default upload-btn" ng-click="done()" ng-if="attachments.length &gt;0"&gt;
                                &lt;p&gt;Upload&lt;/p&gt;
                                &lt;div class="fill"&gt;&lt;/div&gt;
                                &lt;i class="lnr lnr-cloud-check"&gt;&lt;/i&gt;
                            &lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                // Boxed
                &lt;div class="drop-box-holder boxed"&gt;
                    &lt;div class="head-section"&gt;
                        &lt;i class="lnr lnr-cloud-upload"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;div ngf-drop ng-model="file" class="drop-box"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                                     accept="image/*,application/pdf"
                                     ngf-pattern="'image/*,application/pdf'"&gt;
                        &lt;div class="drop-content"&gt;
                            &lt;p&gt;Drag and drop files here&lt;/p&gt;
                            &lt;span&gt;or&lt;/span&gt;
                            &lt;span class="browse" ngf-select="upload($file)"&gt;browse files&lt;/span&gt;
                            &lt;ul class="files-list"&gt;
                                &lt;li ng-repeat="a in attachments"&gt;
                                    &lt;i class="lnr lnr-pushpin"&gt;&lt;/i&gt;
                                    &lt;p&gt;{{a.name}}&lt;/p&gt;
                                    &lt;span class="lnr lnr-trash delete-btn" ng-click="delete($index)"&gt;&lt;/span&gt;
                                &lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;div class="done-msg"&gt;
                            &lt;i class="lnr lnr-smile"&gt;&lt;/i&gt;
                            &lt;p&gt;Upload complete !&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class="upload-btn-holder"&gt;
                            &lt;button class="btn btn-default upload-btn" ng-click="done()" ng-if="attachments.length &gt;0"&gt;
                                &lt;p&gt;Upload&lt;/p&gt;
                                &lt;div class="fill"&gt;&lt;/div&gt;
                                &lt;i class="lnr lnr-cloud-check"&gt;&lt;/i&gt;
                            &lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </code>
            </pre>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                JS
            </uib-tab-heading>
            <pre>
            <code class="language-javascript">  
                $scope.attachments = [];

                // Upload element
                $scope.upload = function (file) {
                    var list = $('.files-list');
                    Upload.dataUrl(file, true).then(function (url) {
                        console.log(url);
                    });
                    if (file != null) {
                        $scope.attachments.push(file);
                        list.addClass('bordered');
                    }
                };

                // Delete element
                $scope.delete = function (index) {
                    var list = $('.files-list');
                    if ($scope.attachments.length === 1) {
                        list.removeClass('bordered');
                        $scope.attachments.splice(index, 1);
                    }
                    else {
                        $scope.attachments.splice(index, 1);
                    }
                };

                // Animation shown after upload is finished
                $scope.done = function () {
                    var btnHolder = $('.upload-btn-holder'),
                        dropContent = $('.drop-content'),
                        doneMsg = $('.done-msg');
                    btnHolder.addClass('clicked');
                    $timeout(function () {
                        btnHolder.addClass('done');
                    }, 2600);
                    $timeout(function () {
                        dropContent.addClass('disappear');
                        doneMsg.addClass('visible');
                    }, 3600);
                };

                // Show upload container ( paper upload element )
                $scope.openUpload = function () {
                    var paper = $('.drop-box-paper');
                    paper.toggleClass('open');
                };
            </code>
            </pre>
        </uib-tab>
    </uib-tabset>

</div>