<div class="col-sm-12 wrapper">
    <h3 class="margin-bottom-32"><strong>Input fields</strong></h3>
    <div class="col-sm-12">
        <div class="mb row">
            <div class="col-sm-4">
                <div class="form-group">
                    <!--<label>Label:</label>-->
                    <input type="text" class="form-control" placeholder="Inactive">
                </div>
            </div>
            <div class="col-sm-4 active">
                <div class="form-group">
                    <!--<label>Label:</label>-->
                    <input type="text" class="form-control" placeholder="Active">
                </div>
            </div>
            <div class="col-sm-4 error">
                <div class="form-group has-error">
                    <!--<label>Label:</label>-->
                    <input type="text" class="form-control" placeholder="Error">
                </div>
            </div>
        </div>
        <div class="mb row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="left-icon">
                        <input type="text" class="form-control" placeholder="Input with icon">
                        <i class="lnr lnr-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="select-wrapper">
                    <select class="form-control">
                        <option>Choose City</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb row">
            <div class="col-sm-4">
                <div class="dp-holder">
                    <div class="right-icon">
                        <input type="text" ng-click="openDp()" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dt" show-button-bar="false" is-open="popup.opened" datepicker-options="popupOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <i class="icon lnr lnr-calendar-full" ng-click="openDp()"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dp-holder interval">
                    <div class="right-icon">
                        <div class="dp-wrapper">
                            <span class="from">from</span>
                            <input type="text" ng-click="openInterval()" class="form-control pull-left" uib-datepicker-popup="dd.MM.yyyy" ng-model="start" show-button-bar="false" is-open="interval.opened" datepicker-options="startOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="to">to</span>
                            <input type="text" ng-click="openInterval()" class="form-control pull-right" uib-datepicker-popup="dd.MM.yyyy" ng-model="end" show-button-bar="false" is-open="interval.opened" datepicker-options="endOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        </div>
                        <i class="icon lnr lnr-calendar-full" ng-click="openInterval()"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="tp-holder">
                    <div class="right-icon">
                        <div uib-timepicker ng-model="time" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false" show-spinners="false"></div>
                        <i class="icon lnr lnr-clock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <textarea class="form-control" placeholder="Describe yourself here..."></textarea>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mt">
                <div class="checkboxes">
                    <h3><strong>Checkboxes</strong></h3>
                    <div class="checkbox-holder">
                        <input type="checkbox" value="" id="check1">
                        <label for="check1">Unchecked</label>
                    </div>
                    <div class="checkbox-holder">
                        <input type="checkbox" value="" id="check2" checked>
                        <label for="check2">Checked</label>
                    </div>
                    <div class="checkbox-holder">
                        <input type="checkbox" value="" id="check3" disabled>
                        <label for="check3">Disabled unchecked</label>
                    </div>
                    <div class="checkbox-holder">
                        <input type="checkbox" value="" id="check4" checked disabled>
                        <label for="check4">Disabled checked</label>
                    </div>
                </div>
                <div class="radios">
                    <h3><strong>Radio</strong></h3>
                    <div class="radio-holder">
                        <input type="radio" value="" id="radio1" name="group">
                        <label for="radio1">Radio is off</label>
                    </div>
                    <div class="radio-holder">
                        <input type="radio" value="" id="radio2" name="group" checked>
                        <label for="radio2">Radio is on</label>
                    </div>
                    <div class="radio-holder">
                        <input type="radio" value="" id="radio3" name="group" disabled>
                        <label for="radio3">Disabled radio is off</label>
                    </div>
                    <div class="radio-holder">
                        <input type="radio" value="" id="radio4" name="group1" disabled checked>
                        <label for="radio4">Disabled radio is on</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb row">
            <div class="col-sm-12">
                <h3><strong>Switch</strong></h3>
                <div class="switch">
                    <input type="checkbox" id="toggle2" checked>
                    <label for="toggle2"></label>
                </div>
                <div class="switch">
                    <input type="checkbox" id="toggle3">
                    <label for="toggle3"></label>
                </div>

            </div>
        </div>
    </div>
</div>
