<div class="col-sm-12 wrapper">
    <h3><strong>Modals</strong></h3>

    <button class="btn btn-primary" ng-click="openModal('modal-scale')">Scale</button>
    <button class="btn btn-primary" ng-click="openModal('newspaper')">Newspaper</button>
    <button class="btn btn-primary" ng-click="openModal('slide-in-top')">Slide in top</button>
    <button class="btn btn-primary" ng-click="openModal('slide-in-bottom')">Slide in bottom</button>
    <button class="btn btn-primary" ng-click="openModal('slide-in-left')">Slide in left</button>
    <button class="btn btn-primary" ng-click="openModal('slide-in-right')">Slide in right</button>
    <button class="btn btn-primary" ng-click="openModal('expand-horiz')">Expand horizontal</button>
    <button class="btn btn-primary" ng-click="openModal('expand-vert')">Expand vertical</button>
    <button class="btn btn-primary" ng-click="openModal('sticky-top')">Sticky top</button>
    <button class="btn btn-primary" ng-click="openModal('sticky-bottom')">Sticky bottom</button>
    <button class="btn btn-primary" ng-click="openModal('rotate-top')">3D Rotate top</button>
    <button class="btn btn-primary" ng-click="openModal('bounce-zoom')">Bounce</button>


</div>

