<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="myModalLabel">Modal title</h3>
</div>
<div class="modal-body">
    <p>This is a modal window. You can do the following things with it:</p>
    <ul>
        <li><strong>Read</strong>: modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look</strong>: a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
    </ul>

    <div class="text-right">
        <button type="button" class="btn btn-negative" ng-click="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="closeModal()">Ok</button>
    </div>
</div>