<div class="col-sm-12 wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="margin-bottom-32"><strong>Top navigation</strong></h3>
            <div class="ex-1">
                <section class="navigation">
                    <nav>
                        <div class="btn-holder" ng-click="openMenu('.navigation')">
                            <div class="menu-btn">
                                <span></span>
                            </div>
                        </div>
                        <div class="logo-holder">
                            <img src="images/logo.jpg" alt="" />
                        </div>
                        <div class="navbar-content">
                            <div class="items-holder">
                                <div class="hidden-scroll">
                                    <div class="menu left">
                                        <ul>
                                            <li><a href><i class="lnr lnr-home"></i>Menu item</a></li>
                                            <li><a href><i class="lnr lnr-apartment"></i>Menu item</a></li>
                                            <li><a href class="active"><i class="lnr lnr-bicycle"></i>Menu item</a></li>
                                            <li><a href><i class="lnr lnr-calendar-full"></i>Menu item</a></li>
                                            <li><a href><i class="lnr lnr-diamond"></i>Menu item</a></li>
                                        </ul>
                                    </div>
                                    <div class="menu right hidden-xs hidden-sm">
                                        <ul>
                                            <li>
                                                <div class="btn-group language">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span>
                                                            <img src="images/flags/en.png" alt="" />
                                                        </span>English <span class="lnr lnr-chevron-down"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href>
                                                                <span>
                                                                    <img src="images/flags/en.png" alt="" />
                                                                </span>
                                                                English
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href>
                                                                <span>
                                                                    <img src="images/flags/no.png" alt="" />
                                                                </span>
                                                                Norwegian
                                                            </a>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="btn-group alerts">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="icon">
                                                            <i class="lnr lnr-inbox"></i>
                                                            <span class="badge primary">32</span>
                                                        </span>

                                                        <span class="lnr lnr-chevron-down"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>Notifications</li>
                                                        <li><a href>Another action</a></li>
                                                        <li><a href>Something else here</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href>Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="btn-group user">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="group-img">
                                                            <img src="images/user.png" alt="" />
                                                        </span>Username <span class="lnr lnr-chevron-down"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href>Action</a></li>
                                                        <li><a href>Another action</a></li>
                                                        <li><a href>Something else here</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href>Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="menu right visible-xs visible-sm">
                                        <ul>
                                            <li>
                                                <div class="btn-group all">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="group-img">
                                                            <img src="images/user.png" alt="" />
                                                        </span>Username <span class="lnr lnr-chevron-down"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href>
                                                                <i class="lnr lnr-mustache"></i>
                                                                My profile
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href>
                                                                <span>
                                                                    <img src="images/flags/en.png" alt="" />
                                                                </span>
                                                                English
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href>
                                                                <span>
                                                                    <img src="images/flags/no.png" alt="" />
                                                                </span>
                                                                Norwegian
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href>
                                                                <span class="icon">
                                                                    <i class="lnr lnr-alarm"></i>
                                                                    Notifications
                                                                    <span class="badge primary">32</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href>
                                                                <i class="lnr lnr-exit"></i>
                                                                Log out
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay visible-xs visible-sm"></div>
                        </div>
                    </nav>
                </section>
            </div>
        </div>
        <div class="col-sm-12 text-right">
            <a class="primary-link show-code" ng-click="openCode('#nav1')">
                <i class="lnr lnr-chevron-left"></i>
                <i class="lnr lnr-chevron-right"></i>
                <span>CODE</span>
            </a>
        </div>
        <div class="code-holder col-sm-12" id="nav1">
            <uib-tabset active="active">
                <uib-tab index="0">
                    <uib-tab-heading>
                        HTML
                    </uib-tab-heading>
                    <pre>
                    <code class="language-markup">
                            &lt;section class="navigation"&gt;
                                &lt;nav&gt;
                                    &lt;div class="logo-holder"&gt;
                                        &lt;img src="images/logo.png" alt="" /&gt;
                                    &lt;/div&gt;
                                    &lt;div class="navbar-content"&gt;
                                        &lt;div class="menu left"&gt;
                                            &lt;ul&gt;
                                                &lt;li&gt;
                                                    &lt;a href&gt;
                                                        &lt;i class="lnr lnr-home"&gt;&lt;/i&gt;Menu item
                                                    &lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li&gt;
                                                    &lt;a href&gt;
                                                        &lt;i class="lnr lnr-apartment"&gt;&lt;/i&gt;Menu item
                                                    &lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li&gt;
                                                    &lt;a href class="active"&gt;
                                                        &lt;i class="lnr lnr-bicycle"&gt;&lt;/i&gt;Menu item
                                                    &lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li&gt;
                                                    &lt;a href&gt;
                                                        &lt;i class="lnr lnr-calendar-full"&gt;&lt;/i&gt;Menu item
                                                    &lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li&gt;
                                                    &lt;a href&gt;
                                                        &lt;i class="lnr lnr-diamond"&gt;&lt;/i&gt;Menu item
                                                    &lt;/a&gt;
                                                &lt;/li&gt;
                                            &lt;/ul&gt;
                                        &lt;/div&gt;
                                        &lt;div class="menu right"&gt;
                                            &lt;ul&gt;
                                                &lt;li&gt;
                                                    &lt;div class="btn-group language"&gt;
                                                        &lt;a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                                                            &lt;span class="group-img"&gt;
                                                                &lt;img src="images/flags/en.png" alt="" /&gt;
                                                            &lt;/span&gt;English
                                                            &lt;span class="lnr lnr-chevron-down"&gt;&lt;/span&gt;
                                                        &lt;/a&gt;
                                                        &lt;ul class="dropdown-menu"&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;
                                                                    &lt;span class="group-img"&gt;
                                                                        &lt;img src="images/flags/en.png" alt="" /&gt;
                                                                    &lt;/span&gt;English
                                                                &lt;/a&gt;
                                                            &lt;/li&gt;
                                                            &lt;li&gt;
                                                                &lt;a href&gt;
                                                                    &lt;span class="group-img"&gt;
                                                                        &lt;img src="images/flags/no.png" alt="" /&gt;
                                                                    &lt;/span&gt;Norwegian
                                                                &lt;/a&gt;
                                                            &lt;/a&gt;
                                                        &lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li&gt;
                                                &lt;div class="btn-group alerts"&gt;
                                                    &lt;a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                                                        &lt;span class="icon"&gt;
                                                            &lt;i class="lnr lnr-inbox"&gt;&lt;/i&gt;
                                                            &lt;span class="badge primary"&gt;32&lt;/span&gt;
                                                        &lt;/span&gt;
                                                        &lt;span class="lnr lnr-chevron-down"&gt;&lt;/span&gt;
                                                    &lt;/a&gt;
                                                    &lt;ul class="dropdown-menu"&gt;
                                                        &lt;li&gt;
                                                            &lt;strong&gt;Notifications&lt;/strong&gt;
                                                        &lt;/li&gt;
                                                        &lt;li&gt;
                                                            &lt;a href&gt;Another action&lt;/a&gt;
                                                        &lt;/li&gt;
                                                        &lt;li&gt;
                                                            &lt;a href&gt;Something else here&lt;/a&gt;
                                                        &lt;/li&gt;
                                                        &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
                                                        &lt;li&gt;
                                                            &lt;a href&gt;Separated link&lt;/a&gt;
                                                        &lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li&gt;
                                                &lt;div class="btn-group user"&gt;
                                                    &lt;a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
                                                        &lt;span class="group-img"&gt;
                                                            &lt;img src="images/user.png" alt="" /&gt;
                                                        &lt;/span&gt;Username
                                                        &lt;span class="lnr lnr-chevron-down"&gt;&lt;/span&gt;
                                                    &lt;/a&gt;
                                                    &lt;ul class="dropdown-menu"&gt;
                                                        &lt;li&gt;
                                                            &lt;a href&gt;Action&lt;/a&gt;
                                                        &lt;/li&gt;
                                                        &lt;li&gt;
                                                            &lt;a href&gt;Another action&lt;/a&gt;
                                                        &lt;/li&gt;
                                                        &lt;li&gt;
                                                            &lt;a href&gt;Something else here&lt;/a&gt;
                                                        &lt;/li&gt;
                                                        &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
                                                        &lt;li&gt;
                                                            &lt;a href&gt;Separated link&lt;/a&gt;
                                                        &lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                            &lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/nav&gt;
                        &lt;/section&gt; 
                        </code>
                    </pre>
                </uib-tab>
            </uib-tabset>
        </div>


        <div class="col-sm-12">
            <h3><strong>Side navigation</strong></h3>
            <div class="ex-2">
                <aside class="side-navbar">
                    <div class="header-section">
                        <!--<h3>Page name</h3>-->
                        <div class="menu-right hidden-xs hidden-sm">
                            <ul>
                                <li>
                                    <div class="btn-group language">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span>
                                                <img src="images/flags/en.png" alt="" />
                                            </span>English <span class="lnr lnr-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href>
                                                    <span>
                                                        <img src="images/flags/en.png" alt="" />
                                                    </span>
                                                    English
                                                </a>
                                            </li>
                                            <li>
                                                <a href>
                                                    <span>
                                                        <img src="images/flags/no.png" alt="" />
                                                    </span>
                                                    Norwegian
                                                </a>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn-group alerts">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon">
                                                <i class="lnr lnr-inbox"></i>
                                                <span class="badge primary">32</span>
                                            </span>

                                            <span class="lnr lnr-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>Notifications</li>
                                            <li><a href>Another action</a></li>
                                            <li><a href>Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href>Separated link</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn-group user">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="group-img">
                                                <img src="images/user.png" alt="" />
                                            </span>Username <span class="lnr lnr-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href>Action</a></li>
                                            <li><a href>Another action</a></li>
                                            <li><a href>Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href>Separated link</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-right visible-xs visible-sm">
                            <ul>
                                <li>
                                    <div class="btn-group all">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="group-img">
                                                <img src="images/user.png" alt="" />
                                            </span>Username <span class="lnr lnr-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href>
                                                    <i class="lnr lnr-mustache"></i>
                                                    My profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href>
                                                    <span>
                                                        <img src="images/flags/en.png" alt="" />
                                                    </span>
                                                    English
                                                </a>
                                            </li>
                                            <li>
                                                <a href>
                                                    <span>
                                                        <img src="images/flags/no.png" alt="" />
                                                    </span>
                                                    Norwegian
                                                </a>
                                            </li>
                                            <li>
                                                <a href>
                                                    <span class="icon">
                                                        <i class="lnr lnr-alarm"></i>
                                                        Notifications
                                                        <span class="badge primary">32</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href>
                                                    <i class="lnr lnr-exit"></i>
                                                    Log out
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-holder" ng-click="openMenu('.side-navbar')">
                        <div class="menu-btn">
                            <span></span>
                        </div>
                    </div>
                    <aside class="side-menu">
                        <div class="logo-holder">
                            <img src="images/logo.jpg" alt="" />
                        </div>
                        <div class="items-holder">
                            <div class="menu-side">
                                <div class="hidden-scroll">
                                    <ul>
                                        <li><a href><i class="lnr lnr-home"></i>Menu item</a></li>
                                        <li><a href><i class="lnr lnr-apartment"></i>Menu item</a></li>
                                        <li><a href class="active"><i class="lnr lnr-bicycle"></i>Menu item</a></li>
                                        <li><a href><i class="lnr lnr-calendar-full"></i>Menu item</a></li>
                                        <li><a href><i class="lnr lnr-diamond"></i>Menu item</a></li>
                                        <li><a href><i class="lnr lnr-earth"></i>Menu item</a></li>
                                        <li><a href><i class="lnr lnr-alarm"></i>Menu item</a></li>
                                        <li><a href><i class="lnr lnr-cog"></i>Menu item</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </aside>
                </aside>
            </div>
        </div>
        <div class="col-sm-12 text-right">
            <a class="primary-link show-code" ng-click="openCode('#nav2')">
                <i class="lnr lnr-chevron-left"></i>
                <i class="lnr lnr-chevron-right"></i>
                <span>CODE</span>
            </a>
        </div>
        <div class="code-holder col-sm-12" id="nav2">
            <uib-tabset active="active">
                <uib-tab index="0">
                    <uib-tab-heading>
                        HTML
                    </uib-tab-heading>
                    <pre>
                    <code class="language-markup">
                            &lt;aside class="side-navbar"&gt;
                                &lt;div class="btn-holder" ng-click="openMenu('.side-navbar')"&gt;
                                    &lt;div class="menu-btn"&gt;
                                        &lt;span&gt;&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;aside class="side-menu"&gt;
                                    &lt;div class="logo-holder"&gt;
                                        &lt;img src="images/logo.png" alt="" /&gt;
                                    &lt;/div&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;
                                            &lt;a href&gt;
                                                &lt;i class="lnr lnr-home"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href&gt;
                                                &lt;i class="lnr lnr-apartment"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href class="active"&gt;
                                                &lt;i class="lnr lnr-bicycle"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href&gt;
                                                &lt;i class="lnr lnr-calendar-full"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href&gt;
                                                &lt;i class="lnr lnr-diamond"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href&gt;
                                                &lt;i class="lnr lnr-earth"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href&gt;
                                                &lt;i class="lnr lnr-alarm"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href&gt;
                                                &lt;i class="lnr lnr-cog"&gt;&lt;/i&gt;Menu item
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/aside&gt;
                            &lt;/aside&gt;
                        </code>
                    </pre>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>