<div class="col-sm-12 wrapper">
    <h3 class="margin-bottom-32"><strong>Panels</strong></h3>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel title
                </div>
                <div class="panel-body">
                    Integer vel tellus lectus. In hac habitasse platea dictumst. Sed a arcu ultricies, facilisis lacus id, volutpat libero. Nam eget tellus sapien.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus finibus et massa quis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi accumsan tellus eu orci sagittis pellentesque.
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel title
                    <i class="delete-btn lnr lnr-trash pull-right" ng-click="deletePanel($event)"></i>
                </div>
                <div class="panel-body">
                    Integer vel tellus lectus. In hac habitasse platea dictumst. Sed a arcu ultricies, facilisis lacus id, volutpat libero. Nam eget tellus sapien.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus finibus et massa quis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi accumsan tellus eu orci sagittis pellentesque.
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel title
                    <i class="expand-btn lnr lnr-frame-expand pull-right" ng-click="expandPanel($event)"></i>
                </div>
                <div class="panel-body">
                    Integer vel tellus lectus. In hac habitasse platea dictumst. Sed a arcu ultricies, facilisis lacus id, volutpat libero. Nam eget tellus sapien.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus finibus et massa quis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi accumsan tellus eu orci sagittis pellentesque.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HTML Code -->
<div ng-include="'scripts/kit/code/elements/panels/panelsCode.html'"></div>