<div class="main-wrapper home container-fluid">
    <div class="row cards">
        <div class="col-sm-12 col-lg-6">
            <div class="box img kit">
                <h2>F5 IT - UI Kit Download & Overview</h2>
                <button class="btn btn-primary" ng-click="go('/ui-kit')">View & Download</button>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box no-sides-margins">
                                <h3>Guidelines</h3>
                                <p><a class="primary-link" ng-click="go('/designsystem')">Read</a> guidelines regarding our design look & feel for apps.</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box negative no-sides-margins">
                                <h3>Print files</h3>
                                <p><a class="primary-link" ng-click="go('/print-files')">View</a> documents templates, business cards, PPT'S etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="box img stock">
                        <h2>F5 Stock Photos</h2>
                        <button class="btn btn-primary" ng-click="go('/photos')">View Stock Images</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <h2>Web & Mobile Guidelines Introduction</h2>

                <h3>The need for design guidelines</h3>
                <p>Developing software without a design first approach will cause user experience issues , inconsistency and can cause an additional 50% more developing work because not following design guidelines the application will never be finished design wise. Ex: Positioning an element multiple times during development playing with width , height and margins trying to obtain a visually pleasant aspect without respecting a standardized process.</p>

                <h3>Goal</h3>
                <p>Creating consistent UI , offering customers the best possible UX ( User Experience ). This manual will provide mainly general base guidelines that will create consistency around F5 IT`s developed software within our products or our clients products.</p>
                <div class="text-right">
                    <button class="btn btn-primary">Read more</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="box">
                <h2>Icons</h2>

                <div class="row icons">
                    <div class="col-sm-3">
                        <p>
                            <i class="lnr lnr-home"></i>
                            <span>lnr-home</span>
                        </p><p>
                            <i class="lnr lnr-magic-wand"></i>
                            <span>lnr-magic-wand</span>
                        </p>
                        <p>
                            <i class="lnr lnr-poop"></i>
                            <span>lnr-poop</span>
                        </p>
                        <p>
                            <i class="lnr lnr-cloud"></i>
                            <span>lnr-cloud</span>
                        </p>
                        <p>
                            <i class="lnr lnr-cloud-sync"></i>
                            <span>lnr-cloud-sync</span>
                        </p>

                    </div>
                    <div class="col-sm-3">
                        <p>
                            <i class="lnr lnr-apartment"></i>
                            <span>lnr-apartment</span>
                        </p><p>
                            <i class="lnr lnr-drop"></i>
                            <span>lnr-drop</span>
                        </p>
                        <p>
                            <i class="lnr lnr-sun"></i>
                            <span>lnr-sun</span>
                        </p>
                        <p>
                            <i class="lnr lnr-cloud-upload"></i>
                            <span>lnr-cloud-upload</span>
                        </p>
                        <p>
                            <i class="lnr lnr-cloud-check"></i>
                            <span>lnr-cloud-check</span>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            <i class="lnr lnr-pencil"></i>
                            <span>lnr-pencil</span>
                        </p><p>
                            <i class="lnr lnr-lighter"></i>
                            <span>lnr-lighter</span>
                        </p>
                        <p>
                            <i class="lnr lnr-moon"></i>
                            <span>lnr-moon</span>
                        </p>
                        <p>
                            <i class="lnr lnr-cloud-download"></i>
                            <span>lnr-cloud-download</span>
                        </p>
                        <p>
                            <i class="lnr lnr-database"></i>
                            <span>lnr-database</span>
                        </p>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary">View Icons</button>
                </div>
            </div>
        </div>
    </div>
</div>