@import 'variables.less';
.box {
    border-radius:4px;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);

    &.negative {
        background-color: @block-negative-bg;
        color: @block-negative-color ;


        h3 {
            color: @primary;
            margin-top: 0;
        }
    }

    h3 {
        margin-top: 0;
    }
}