@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
* {
  outline: none !important;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  font-weight: 400;
}
h1,
h2,
h3 {
  color: #000002;
  font-weight: 400;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
.navigation {
  position: relative;
  background-color: #353439;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.navigation nav {
  min-height: 50px;
  position: relative;
}
.navigation .logo-holder {
  float: left;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  overflow: hidden;
  line-height: inherit;
  vertical-align: middle;
}
.navigation .logo-holder img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  padding: 8px;
}
.navigation .menu.left {
  display: inline-block;
}
.navigation .menu.right {
  float: right;
}
.navigation .menu ul {
  margin: 0;
  padding-left: 16px;
}
.navigation .menu ul li {
  position: relative;
  display: inline-block;
}
.navigation .menu ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.navigation .menu ul li a i {
  margin-right: 5px;
}
.navigation .menu ul li a.active {
  background-color: #fff;
  color: #000;
}
.navigation .menu ul li a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
}
.navigation .menu .btn-group .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navigation .menu .btn-group .dropdown-toggle i {
  margin-right: 5px;
}
.navigation .menu .btn-group .dropdown-toggle .lnr-chevron-down {
  vertical-align: middle;
  font-size: 11px;
}
.navigation .menu .btn-group ul {
  padding-left: 0;
}
.navigation .menu .btn-group ul li {
  display: block;
  float: none;
}
.navigation .menu .btn-group ul li a {
  padding: 3px 20px;
  color: #333;
}
.navigation .menu .btn-group .group-img {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0 10px 0 0;
  overflow: hidden;
  line-height: inherit;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 100%;
  margin: -15px 10px -15px 0;
}
.navigation .menu .btn-group .group-img img {
  max-width: 100%;
}
.alerts i {
  vertical-align: middle;
  font-size: 20px;
}
.alerts .icon {
  position: relative;
  padding: 10px 0 10px 10px;
}
.alerts .icon .badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 5px;
}
.alerts .dropdown-menu li:first-child {
  padding: 3px 20px;
  border-bottom: 1px solid #000;
}
.side-navbar .side-menu {
  width: 256px;
  -webkit-box-shadow: 5px 0 10px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 0 10px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 0 10px -3px rgba(0, 0, 0, 0.2);
  height: 100%;
}
.side-navbar .side-menu .logo-holder {
  position: relative;
  display: block;
  height: 50px;
  overflow: hidden;
  line-height: inherit;
  vertical-align: middle;
  background-color: #353439;
}
.side-navbar .side-menu .logo-holder img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 8px;
}
.side-navbar .side-menu ul {
  padding-left: 0;
  list-style-type: none;
  background-color: #fff;
  overflow: auto;
  height: 100%;
  margin: 0;
}
.side-navbar .side-menu ul li a {
  display: block;
  padding: 12px 12px 12px 32px;
  color: #5b5b5b;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.side-navbar .side-menu ul li a i {
  margin-right: 5px;
}
.side-navbar .side-menu ul li a.active {
  background-color: #e5eaee;
}
.side-navbar .side-menu ul li a:hover {
  background-color: #eff3f6;
  text-decoration: none;
}
.side-navbar .header-section {
  position: fixed;
  top: 0;
  left: 256px;
  right: 0;
  background-color: #fff;
  min-height: 50px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.side-navbar .header-section h3 {
  padding-left: 16px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0;
  float: left;
}
.side-navbar .header-section .menu-right {
  float: right;
  margin-bottom: 0;
}
.side-navbar .header-section .menu-right > li {
  position: relative;
  display: inline-block;
}
.side-navbar .header-section .menu-right > li a {
  padding: 15px;
  display: block;
  color: #000;
  cursor: pointer;
}
.side-navbar .header-section .menu-right > li .btn-group ul li a {
  padding: 3px 20px;
  color: #333;
}
.side-navbar .header-section .menu-right > li .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.side-navbar .header-section .menu-right > li .dropdown-toggle i {
  margin-right: 5px;
}
.side-navbar .header-section .menu-right > li .dropdown-toggle .lnr-chevron-down {
  vertical-align: middle;
  font-size: 11px;
}
.side-navbar .header-section .menu-right > li .dropdown-toggle:hover {
  text-decoration: none;
}
.side-navbar .header-section .menu-right .group-img {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0 10px 0 0;
  overflow: hidden;
  line-height: inherit;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 100%;
  margin: -15px 10px -15px 0;
}
.side-navbar .header-section .menu-right .group-img img {
  max-width: 100%;
}
.side-main-content {
  padding-left: 271px;
  padding-top: 65px;
}
.main-content {
  padding-top: 70px;
}
.top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.side-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
}
@media all and (max-width: 768px) {
  .btn-holder {
    position: absolute;
    left: 0;
    margin: 0 0 0 15px;
    height: 49px;
    width: 49px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .btn-holder .menu-btn {
    border: none;
    text-align: center;
    z-index: 9;
    height: 49px;
    width: 49px;
  }
  .btn-holder .menu-btn span {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  .btn-holder .menu-btn span:before,
  .btn-holder .menu-btn span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: inherit;
    height: inherit;
    background-color: #fff;
    transition: transform .35s;
  }
  .btn-holder .menu-btn span:before {
    top: -6px;
  }
  .btn-holder .menu-btn span:after {
    top: 6px;
  }
  .navigation {
    background-color: transparent;
  }
  .navigation .btn-holder {
    margin: 0;
  }
  .navigation .logo-holder {
    float: none;
    width: 100%;
    text-align: center;
    background-color: #353439;
  }
  .navigation .navbar-content {
    background-color: #353439;
    transform: translateX(-100%);
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    opacity: 0;
  }
  .navigation .navbar-content .menu ul {
    padding: 0;
  }
  .navigation .navbar-content .menu ul li {
    display: block;
  }
  .navigation .navbar-content .menu ul li .btn-group.all {
    display: block;
  }
  .navigation .navbar-content .menu ul li .btn-group.all .dropdown-menu {
    position: relative;
    float: none;
    border-radius: 0;
    border: none;
  }
  .navigation .navbar-content .menu ul li .btn-group.all .dropdown-menu li a {
    padding: 8px 30px;
  }
  .navigation .navbar-content .menu ul li .btn-group.all .dropdown-menu li a:hover {
    background-color: #353439;
    color: #fff;
  }
  .navigation .navbar-content .menu.left,
  .navigation .navbar-content .menu.right {
    float: none;
    width: 100%;
  }
  .side-navbar .side-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }
  .side-navbar .side-menu ul {
    transform: translateX(-100%);
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    opacity: 0;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .side-navbar .header-section {
    left: 0;
    top: 50px;
  }
  .open .btn-holder .menu-btn span {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .open .btn-holder .menu-btn span:before {
    width: 8px;
    -webkit-transform: translate(5px, 3px) rotate(45deg);
    -moz-transform: translate(5px, 3px) rotate(45deg);
    -ms-transform: translate(5px, 3px) rotate(45deg);
    -o-transform: translate(5px, 3px) rotate(45deg);
    transform: translate(5px, 3px) rotate(45deg);
  }
  .open .btn-holder .menu-btn span:after {
    width: 8px;
    -webkit-transform: translate(5px, -3px) rotate(-45deg);
    -moz-transform: translate(5px, -3px) rotate(-45deg);
    -ms-transform: translate(5px, -3px) rotate(-45deg);
    -o-transform: translate(5px, -3px) rotate(-45deg);
    transform: translate(5px, -3px) rotate(-45deg);
  }
  .open .side-menu ul,
  .open .navbar-content {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .side-main-content {
    padding-left: 15px;
  }
  .side-fixed {
    height: 50px;
    right: 0;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .side-navbar .side-menu {
    width: 200px;
  }
  .side-navbar .header-section {
    left: 200px;
  }
  .side-navbar .side-main-content {
    padding-left: 215px;
  }
}
@media all and (min-width: 768px) and (max-width: 1730px) {
  .navigation .logo-holder {
    float: none;
    display: block;
  }
  .navigation .menu.left {
    float: none;
    padding-top: 10px;
  }
  .navigation .menu.right {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  .navigation .menu ul li {
    float: none;
    display: inline-block;
  }
}
.btn {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  padding: 8px 32px;
}
.btn:hover {
  -webkit-box-shadow: 0 6px 5px -6px #000002 inset;
  -moz-box-shadow: 0 6px 5px -6px #000002 inset;
  box-shadow: 0 6px 5px -6px #000002 inset;
}
.btn.btn-primary {
  color: #fff;
  background-color: #1980ff;
  border-color: #1980ff;
}
.btn.btn-primary:hover {
  background-color: #0189ff;
  border-color: #0189ff;
}
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus {
  background-color: #0070ce;
  border-color: #0070ce;
}
.btn.btn-secondary {
  color: #fff;
  background-color: #222224;
  border-color: #222224;
}
.btn.btn-secondary:hover {
  background-color: #4e4e50;
  border-color: #4e4e50;
}
.btn.btn-secondary:focus,
.btn.btn-secondary:active,
.btn.btn-secondary:active:focus {
  background-color: #010101;
  border-color: #010101;
}
.btn.btn-negative {
  color: #a1a6aa;
  background-color: #f2f7fd;
  border: 2px solid #a2a6a9;
}
.btn.btn-negative:hover {
  background-color: #4e4e50;
  border-color: #4e4e50;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-negative:focus,
.btn.btn-negative:active,
.btn.btn-negative:active:focus {
  background-color: #f2f7fd;
  border-color: #4e4f53;
  color: #4d4e50;
}
/*  Link  */
.primary-link {
  font-weight: 700;
  color: #1a80fc;
  cursor: pointer;
}
.primary-link:hover,
.primary-link:focus {
  text-decoration: underline;
  color: #1a80fc;
}
label {
  font-weight: 300;
  color: #444;
}
.form-control {
  border-color: #dbe0e4;
  padding: 8px 16px;
  color: #454545;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: #87a6bf;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: #a0a0a0;
}
.form-control::-moz-placeholder {
  color: #a0a0a0;
}
.form-control:-ms-input-placeholder {
  color: #a0a0a0;
}
.form-control:-moz-placeholder {
  color: #a0a0a0;
}
.has-error .form-control {
  border-color: #ff5d5e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #ff5d5e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.left-icon {
  position: relative;
}
.left-icon .form-control {
  padding-left: 30px;
}
.left-icon i {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 18px;
}
.select-wrapper {
  background-color: #fff;
  display: block;
  position: relative;
}
.select-wrapper .form-control {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.select-wrapper:after {
  content: '\e874';
  font-family: 'Linearicons-Free';
  position: absolute;
  right: 0;
  top: 0;
  line-height: 34px;
  width: 34px;
  height: 34px;
  text-align: center;
  color: #454545;
  font-size: 10px;
  z-index: 3;
}
textarea {
  min-height: 150px;
  max-width: 100%;
  padding: 10px 15px;
}
.checkbox-holder {
  margin: 8px 0;
}
.checkbox-holder [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.checkbox-holder [type="checkbox"]:checked:disabled + label {
  color: #dbe0e4;
}
.checkbox-holder [type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid #dbe0e4;
  border-bottom: 2px solid #dbe0e4;
}
.checkbox-holder [type="checkbox"]:checked:disabled + label:after {
  background-color: transparent;
  border: 2px solid #dbe0e4;
}
.checkbox-holder [type="checkbox"]:checked + label {
  color: #1980ff;
}
.checkbox-holder [type="checkbox"]:checked + label:before {
  top: 2px;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.checkbox-holder [type="checkbox"]:checked + label:after {
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #1980ff;
  background-color: #1980ff;
  z-index: 0;
}
.checkbox-holder [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.checkbox-holder [type="checkbox"]:not(:checked):disabled + label {
  color: #dbe0e4;
}
.checkbox-holder [type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: transparent;
}
.checkbox-holder [type="checkbox"]:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  -moz-transform: rotateZ(37deg);
  -ms-transform: rotateZ(37deg);
  -o-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.checkbox-holder [type="checkbox"]:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #dbe0e4;
  top: 0px;
  z-index: 0;
}
.checkbox-holder [type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.checkbox-holder [type="checkbox"] + label:before,
.checkbox-holder [type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 1;
  border: 2px solid #dbe0e4;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  -moz-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  -o-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  -ms-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
}
.radio-holder {
  margin: 8px 8px 8px 0;
  display: inline-block;
}
.radio-holder [type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.radio-holder [type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  color: #1980ff;
}
.radio-holder [type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}
.radio-holder [type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid #1980ff;
  background-color: #1980ff;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
.radio-holder [type="radio"]:checked:disabled + label:after {
  background-color: #dbe0e4;
  border: 2px solid #dbe0e4;
}
.radio-holder [type="radio"]:disabled + label {
  color: #dbe0e4;
  cursor: default;
}
.radio-holder [type="radio"]:disabled:checked + label:before {
  border-color: #dbe0e4;
  background-color: transparent;
}
.radio-holder [type="radio"]:disabled:not(:checked) + label:before {
  border-color: #dbe0e4;
  background-color: transparent;
}
.radio-holder [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.radio-holder [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.radio-holder [type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #dbe0e4;
}
.radio-holder [type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid #dbe0e4;
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.radio-holder [type="radio"] + label:before,
.radio-holder [type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
}
.switch {
  display: inline-block;
  padding: 8px;
  margin-right: 16px;
}
.switch input {
  display: none;
}
.switch input:checked + label {
  box-shadow: inset 0 0 0 48px #1980ff;
  background: transparent;
}
.switch input:checked + label:after {
  left: 31px;
  background: #fff;
}
.switch label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 55px;
  height: 24px;
  border-radius: 25px;
  background: #dbe0e4;
  transition: box-shadow 0.4s;
}
.switch label:after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  width: 22px;
  height: 22px;
  margin: 1px;
  background: #fff;
  border-radius: 50%;
  transition: background 0.4s, left 0.4s, height 0.2s, width 0.2s;
}
.table {
  background-color: #fff;
}
.table .checkbox-holder {
  display: inline-block;
}
.table thead th {
  color: #000;
  border: 1px solid #dbe0e4 !important;
  padding: 16px !important;
  font-size: 14px;
  font-weight: 500;
}
.table tbody tr:nth-child(odd) {
  background-color: #f9f9fc;
}
.table tbody tr:hover {
  background-color: #dbe0e4;
}
.table tbody tr:hover td {
  color: #000;
}
.table tbody td {
  border: 1px solid #dbe0e4 !important;
  color: #5f5e5e;
  padding: 16px !important;
  font-size: 13px;
}
.card {
  position: relative;
  margin: 8px 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: transparent;
}
.card.primary:before {
  background-color: #1980ff;
}
.card.primary a,
.card.primary i {
  color: #1980ff;
}
.card.secondary:before {
  background-color: #222224;
}
.card.secondary a,
.card.secondary i {
  color: #222224;
}
.card.negative:before {
  background-color: #a2a6a9;
}
.card.negative a,
.card.negative i {
  color: #a2a6a9;
}
.card.warning:before {
  background-color: #ffab00;
}
.card.warning a,
.card.warning i {
  color: #ffab00;
}
.card.success:before {
  background-color: #47CF73;
}
.card.success a,
.card.success i {
  color: #47CF73;
}
.card.danger:before {
  background-color: #ff5d5e;
}
.card.danger a,
.card.danger i {
  color: #ff5d5e;
}
.card .card-content {
  padding: 16px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
  position: relative;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content .holder {
  margin-bottom: 4px;
}
.card .card-content .holder .name {
  display: inline-block;
  font-weight: 700;
}
.card .card-content .holder .data {
  display: inline-block;
  margin-left: 8px;
}
.card.widget {
  float: left;
  width: 100%;
  margin: 0 0 16px 0;
}
.card.widget:before {
  background-color: transparent !important;
}
.card.widget .card-content {
  float: left;
  width: 100%;
}
.card.widget .card-content .tile {
  float: left;
  width: 100%;
}
.card.widget .card-content .tile .content {
  float: right;
  width: 100%;
  padding-left: 90px;
}
.card.widget .card-content .tile .content h3 {
  margin: 8px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  color: #928f8f;
}
.card.widget .card-content .tile .content span {
  display: block;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 8px;
}
.card.widget .card-content .tile .content a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #1980ff;
}
.card.widget .card-content .tile .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 16px;
  padding-left: 8px;
}
.card.widget .card-content .tile .icon i {
  font-size: 50px;
  line-height: 90px;
}
.pagination.primary li:first-child a,
.pagination.primary li:last-child a {
  color: #fff;
  background-color: #1980ff;
  border: 1px solid #1980ff;
}
.pagination.primary li:first-child a:hover,
.pagination.primary li:last-child a:hover {
  color: #fff;
  background-color: #1980ff;
  border: 1px solid #1980ff;
}
.pagination.primary li:first-child a {
  margin-right: 1px;
}
.pagination.primary li:last-child a {
  margin-left: 0;
}
.pagination.primary li a {
  color: #5b5b5b;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.pagination.primary li a:hover {
  color: #1980ff;
  border-color: #1980ff;
  background-color: #fff;
}
.pagination.secondary li:first-child a,
.pagination.secondary li:last-child a {
  color: #fff;
  background-color: #222224;
  border: 1px solid #222224;
}
.pagination.secondary li:first-child a:hover,
.pagination.secondary li:last-child a:hover {
  color: #fff;
  background-color: #222224;
  border: 1px solid #222224;
}
.pagination.secondary li:first-child a {
  margin-right: 1px;
}
.pagination.secondary li:last-child a {
  margin-left: 0;
}
.pagination.secondary li a {
  color: #5b5b5b;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.pagination.secondary li a:hover {
  color: #222224;
  border-color: #222224;
  background-color: #fff;
}
.panel .panel-heading {
  color: #fff;
}
.panel.panel-primary {
  border-color: #1980ff;
}
.panel.panel-primary .panel-heading {
  background-color: #1980ff;
  border-color: #1980ff;
}
.panel.panel-secondary {
  border-color: #222224;
}
.panel.panel-secondary .panel-heading {
  background-color: #222224;
  border-color: #222224;
}
.panel.panel-negative {
  border-color: #a2a6a9;
}
.panel.panel-negative .panel-heading {
  background-color: #a2a6a9;
  border-color: #a2a6a9;
}
.panel.panel-warning {
  border-color: #ffab00;
}
.panel.panel-warning .panel-heading {
  background-color: #ffab00;
  border-color: #ffab00;
}
.panel.panel-success {
  border-color: #47CF73;
}
.panel.panel-success .panel-heading {
  background-color: #47CF73;
  border-color: #47CF73;
}
.panel.panel-danger {
  border-color: #ff5d5e;
}
.panel.panel-danger .panel-heading {
  background-color: #ff5d5e;
  border-color: #ff5d5e;
}
.badge {
  font-weight: 500;
  padding: 6px;
  border-radius: 50%;
}
.badge.primary {
  background-color: #1980ff;
}
.badge.secondary {
  background-color: #222224;
}
.badge.negative {
  background-color: #a2a6a9;
}
.badge.warning {
  background-color: #ffab00;
}
.badge.success {
  background-color: #47CF73;
}
.badge.danger {
  background-color: #ff5d5e;
}
.badge.boxed {
  border-radius: 4px;
}
.chart-container {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 32px;
}
.chart-container .bar {
  fill: #1980ff;
  transition: fill 0.3s ease-in-out;
}
.chart-container .bar:hover {
  fill: #87a6bf;
}
.chart-container .name {
  font-weight: 500;
  font-size: 20px;
}
.chart-container .value {
  font-weight: 300;
  font-size: 14px;
}
.chart-container .middleText .number {
  font-size: 35px;
}
.chart-container .middleText .status {
  font-size: 15px;
  font-weight: 300;
}
.chart-container .country {
  stroke: #fff;
  stroke-width: 1;
  fill: #5b5b5b;
  fill-opacity: .7;
}
.chart-container .country:hover {
  fill-opacity: 1;
}
.chart-container .line {
  fill: none;
  stroke: #1980ff;
  stroke-width: 2px;
}
.chart-container svg g.tick line {
  stroke: #e7eaf1;
}
.chart-container svg g.tick text {
  fill: #b5b9c5;
  font-family: 'Montserrat', sans-serif;
}
.ctooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 11px sans-serif;
  background: #ffab00;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  line-height: 25px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}
@media all and (min-width: 1200px) {
  .chart-container {
    height: 400px;
  }
}
.spinner {
  float: left;
  border-radius: 50%;
  margin: 10px 5px 10px 0;
  width: 20px;
  height: 20px;
  border: 3px solid #dadbdc;
  border-top-color: #808080;
  animation: spin 1s infinite linear;
}
.spinner.primary {
  border: 3px solid #a3ccfe;
  border-top-color: #1980ff;
}
.spinner.secondary {
  border: 3px solid #a6a6a7;
  border-top-color: #222224;
}
.spinner.negative {
  border: 3px solid #dadbdc;
  border-top-color: #a2a6a9;
}
.spinner.warning {
  border: 3px solid #ffdd99;
  border-top-color: #ffab00;
}
.spinner.success {
  border: 3px solid #b5ecc7;
  border-top-color: #47CF73;
}
.spinner.danger {
  border: 3px solid #ffbebe;
  border-top-color: #ff5d5e;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.pulsate {
  position: relative;
  border: 3px solid #292f43;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10px 5px 10px 0;
  float: left;
  animation: pulsate 1s infinite linear;
}
.pulsate.primary {
  border-color: #1980ff;
}
.pulsate.secondary {
  border-color: #222224;
}
.pulsate.negative {
  border-color: #a2a6a9;
}
.pulsate.warning {
  border-color: #ffab00;
}
.pulsate.success {
  border-color: #47CF73;
}
.pulsate.danger {
  border-color: #ff5d5e;
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
.scale {
  width: 20px;
  height: 20px;
  margin: 10px 5px 10px 0;
  float: left;
  background-color: #dbe0e4;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
.scale.primary {
  background-color: #1980ff;
}
.scale.secondary {
  background-color: #222224;
}
.scale.negative {
  background-color: #a2a6a9;
}
.scale.warning {
  background-color: #ffab00;
}
.scale.success {
  background-color: #47CF73;
}
.scale.danger {
  background-color: #ff5d5e;
}
@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.alert {
  color: #fff;
}
.alert button {
  opacity: 1;
  text-shadow: none;
}
.alert button:hover {
  color: #fff;
}
.alert.alert-primary {
  background-color: #1980ff;
}
.alert.alert-primary .icon {
  background-color: #0070ce;
}
.alert.alert-secondary {
  background-color: #4e4e50;
}
.alert.alert-secondary .icon {
  background-color: 3a 3a 3c;
}
.alert.alert-negative {
  background-color: #a2a6a9;
}
.alert.alert-negative .icon {
  background-color: #8d9093;
}
.alert.alert-warning {
  background-color: #ffab00;
}
.alert.alert-warning .icon {
  background-color: #e89f0b;
}
.alert.alert-success {
  background-color: #47CF73;
}
.alert.alert-success .icon {
  background-color: #1fb951;
}
.alert.alert-danger {
  background-color: #ff5d5e;
}
.alert.alert-danger .icon {
  background-color: #ea3b3c;
}
.alert.alert-icon {
  padding-left: 60px;
  position: relative;
}
.alert.alert-icon .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 50px;
  padding: 15px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
}
.alert.alert-icon .icon span {
  font-size: 20px;
}
.progress .progress-bar {
  min-width: 2em;
  color: #fff;
}
.progress.primary .progress-bar {
  background-color: #1980ff;
}
.progress.secondary .progress-bar {
  background-color: #222224;
}
.progress.negative .progress-bar {
  background-color: #a2a6a9;
}
.progress.warning .progress-bar {
  background-color: #ffab00;
}
.progress.success .progress-bar {
  background-color: #47CF73;
}
.progress.danger .progress-bar {
  background-color: #ff5d5e;
}
.login {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: #353439;
  text-align: center;
}
.login .logo-wrapper {
  margin-bottom: 32px;
}
.login .login-wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login .login-wrapper img {
  max-width: 100%;
}
.login .login-wrapper .form-group {
  text-align: left;
}
.login .login-wrapper .form-group label {
  color: #fff;
}
.login .login-wrapper form button {
  margin-top: 16px;
}
.error-page {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: #353439;
  text-align: center;
}
.error-page .img-holder {
  padding: 10px;
}
.error-page .img-holder img {
  max-width: 100%;
}
.error-page .message-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.error-page h1,
.error-page h2 {
  color: #fff;
}