@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('core/variables.less');

* {
    outline: none !important;
    text-decoration: none!important;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: @body-color;
    font-weight: 400;
}

h1, h2, h3 {
    color: @headings-color;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

@import url('core/utils.less');
@import url('core/components/navigation.less');
@import url('core/components/buttons.less');
@import url('core/components/input-fields.less');
@import url('core/components/tables.less');
@import url('core/components/pagination.less');
@import url('core/components/panels.less');
@import url('core/components/badges.less');
@import url('core/components/charts.less');
@import url('core/components/spinners.less');
@import url('core/components/alerts.less');
@import url('core/components/progress-bars.less');
@import url('core/pages/login.less');
@import url('core/pages/404.less');
@import url('core/components/modal.less');
@import url('core/components/tabs.less');
@import url('core/components/tooltip.less');
@import url('core/components/datepicker.less');
@import url('core/components/icons.less');
@import url('core/components/user-images.less');
@import url('core/components/file-upload.less');
@import url('core/components/blocks.less');
@import url('core/responsive/responsive.less');