i.success {
  color: #47CF73;
  font-weight: 500;
  font-size: 20px;
}
i.pending {
  color: #ffab00;
  font-weight: 500;
  font-size: 20px;
}
i.disabled {
  color: #ff5d5e;
  font-weight: 500;
  font-size: 20px;
}