.pagination.primary li a {
  color: #5b5b5b;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.pagination.primary li a:hover {
  color: #fff;
  background-color: #1980ff;
  border-color: transparent;
}
.pagination.primary li.active a {
  color: #fff;
  background-color: #1980ff;
  border-color: transparent;
}
.pagination.secondary li:first-child a,
.pagination.secondary li:last-child a {
  color: #fff;
  background-color: #222224;
  border: 1px solid #222224;
}
.pagination.secondary li:first-child a:hover,
.pagination.secondary li:last-child a:hover {
  color: #fff;
  background-color: #222224;
  border: 1px solid #222224;
}
.pagination.secondary li:first-child a {
  margin-right: 1px;
}
.pagination.secondary li:last-child a {
  margin-left: 0;
}
.pagination.secondary li a {
  color: #5b5b5b;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.pagination.secondary li a:hover {
  color: #222224;
  border-color: #222224;
  background-color: #fff;
}