@import 'variables.less';
.panel {
    .panel-heading {
        color: @panel-heading-color;
    }
    &.panel-primary {
        border-color: @primary;

        .panel-heading {
            background-color: @primary;
            border-color: @primary;
        }
    }

    &.panel-secondary {
        border-color: @secondary;

        .panel-heading {
            background-color: @secondary;
            border-color: @secondary;
        }
    }

    &.panel-negative {
        border-color: @negative;

        .panel-heading {
            background-color: @negative;
            border-color: @negative;
        }
    }

    &.panel-warning {
        border-color: @warning;

        .panel-heading {
            background-color: @warning;
            border-color: @warning;
        }
    }

    &.panel-success {
        border-color: @success;

        .panel-heading {
            background-color: @success;
            border-color: @success;
        }
    }

    &.panel-danger {
        border-color: @danger;

        .panel-heading {
            background-color: @danger;
            border-color: @danger;
        }
    }
}

