.table {
  background-color: #fff;
}
.table .checkbox-holder {
  display: inline-block;
}
.table thead th {
  color: #000;
  border: 1px solid #dbe0e4 !important;
  padding: 16px !important;
  font-size: 14px;
  font-weight: 500;
}
.table tbody tr:nth-child(odd) {
  background-color: #f9f9fc;
}
.table tbody tr:hover {
  background-color: #dbe0e4;
}
.table tbody tr:hover td {
  color: #000;
}
.table tbody td {
  border: 1px solid #dbe0e4 !important;
  color: #5f5e5e;
  padding: 16px !important;
  font-size: 13px;
}
.card {
  position: relative;
  margin: 8px 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: transparent;
}
.card.primary:before {
  background-color: #1980ff;
}
.card.primary a,
.card.primary i {
  color: #1980ff;
}
.card.secondary:before {
  background-color: #222224;
}
.card.secondary a,
.card.secondary i {
  color: #222224;
}
.card.negative:before {
  background-color: #a2a6a9;
}
.card.negative a,
.card.negative i {
  color: #a2a6a9;
}
.card.warning:before {
  background-color: #ffab00;
}
.card.warning a,
.card.warning i {
  color: #ffab00;
}
.card.success:before {
  background-color: #47CF73;
}
.card.success a,
.card.success i {
  color: #47CF73;
}
.card.danger:before {
  background-color: #ff5d5e;
}
.card.danger a,
.card.danger i {
  color: #ff5d5e;
}
.card .card-content {
  padding: 16px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
  position: relative;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content .holder {
  margin-bottom: 4px;
}
.card .card-content .holder .name {
  display: inline-block;
  font-weight: 700;
}
.card .card-content .holder .data {
  display: inline-block;
  margin-left: 8px;
}
.card.widget {
  float: left;
  width: 100%;
  margin: 0 0 16px 0;
}
.card.widget:before {
  background-color: transparent !important;
}
.card.widget .card-content {
  float: left;
  width: 100%;
}
.card.widget .card-content .tile {
  float: left;
  width: 100%;
}
.card.widget .card-content .tile .content {
  float: right;
  width: 100%;
  padding-left: 90px;
}
.card.widget .card-content .tile .content h3 {
  margin: 8px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  color: #928f8f;
}
.card.widget .card-content .tile .content span {
  display: block;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 8px;
}
.card.widget .card-content .tile .content a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #1980ff;
}
.card.widget .card-content .tile .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 16px;
  padding-left: 8px;
}
.card.widget .card-content .tile .icon i {
  font-size: 50px;
  line-height: 90px;
}