.line .nav-tabs {
  border: none;
}
.line .nav-tabs li a {
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding: 16px;
  margin-right: 12px;
  color: #a3ccfe;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  overflow: hidden;
}
.line .nav-tabs li a span {
  position: relative;
  z-index: 1;
}
.line .nav-tabs li a:hover {
  background-color: transparent;
  color: #1980ff;
}
.line .nav-tabs li a:hover:after {
  background-color: #1980ff;
}
.line .nav-tabs li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #a3ccfe;
  -webkit-transition: background-color 0.3s, transform 0.3s;
  -moz-transition: background-color 0.3s, transform 0.3s;
  -ms-transition: background-color 0.3s, transform 0.3s;
  -o-transition: background-color ease-in 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  -moz-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  -ms-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  -o-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}
.line .nav-tabs li.active a {
  border: none;
}
.line .nav-tabs li.active a span {
  color: #fff;
}
.line .nav-tabs li.active a:after {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #1980ff;
}
.line .nav-tabs li.active a:hover {
  border: none;
}
.line .tab-content {
  margin-bottom: 8px;
  padding: 16px;
  min-height: 150px;
  -webkit-box-shadow: 0 2px 5px 0 #1980ff, 0 2px 5px 0 #1980ff;
  -moz-box-shadow: 0 2px 5px 0 #1980ff, 0 2px 5px 0 #1980ff;
  box-shadow: 0 2px 5px 0 #1980ff, 0 2px 5px 0 #1980ff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #000;
}