/* Font */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

* {
    outline: none !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #5b5b5b;
    font-weight: 400;
}

/* Headings style */

h1, h2, h3 {
    color: #000002;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

/*-------------------------------------------------------------*/


/* Links style */

.primary-link:hover, .primary-link:focus {
    text-decoration: underline;
    color: #1a80fc;
}

.primary-link {
    font-weight: 700;
    color: #1a80fc;
    cursor: pointer;
}

/*-------------------------------------------------------------*/


/* Buttons style */

.btn {
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    padding: 8px 32px;
}

.btn:hover {
    -webkit-box-shadow:  0 6px 5px -6px #000002 inset;
    -moz-box-shadow:  0 6px 5px -6px #000002 inset;
    box-shadow:  0 6px 5px -6px #000002 inset;
}

.btn-primary {
    color: #fff;
    background-color: #1980ff;
    border-color: #1980ff;
}

.btn-primary:hover {
    background-color: #0189ff;
    border-color: #0189ff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus
 {
    background-color: #0070ce;
    border-color: #0070ce;
}


.btn-secondary {
    background-color: #222224;
    border-color: #222224;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #4e4e50;
    border-color: #4e4e50;
    color: #fff;
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:focus
 {
    background-color: #010101;
    border-color: #010101;
    color: #fff;
}

.btn-negative {
    background-color: #f2f7fd;
    border: 2px solid #a2a6a9;
    color: #a1a6aa;
}

.btn-negative:hover {
    background-color: #4e4e50;
    border-color: #4e4e50;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-negative:focus,
.btn-negative:active,
.btn-negative:active:focus
 {
    background-color: #f2f7fd;
    border: 2px solid #4e4f53;
    color: #4d4e50;
}

/*-------------------------------------------------------------*/

/* Input fields */

label {
    font-weight: 300;
    color: #444;
}

.form-control {
    border-color: #dbe0e4;
    padding: 8px 16px;
    color: #454545;
    font-size: 13px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #87a6bf;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a0a0a0  ;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #a0a0a0  ;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #a0a0a0  ;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #a0a0a0  ;
}

.has-error .form-control {
    border-color: #ff5d5e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #ff5d5e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.left-icon {
    position: relative;
}

.left-icon .form-control {
    padding-left: 30px;
}

.left-icon i {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 18px;
}

.select-wrapper {
    background-color: #FFF;
    display: block;
    position: relative;
}

.select-wrapper .form-control {
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.select-wrapper::after {
    content: '\e874';
    font-family: 'Linearicons-Free';
    position: absolute;
    right: 0;
    top: 0;;
    line-height: 34px;
    width: 34px;
    height: 34px;
    text-align: center;
    color: #454545;
    font-size: 10px;
    z-index: 3;
}

textarea.form-control {
    min-height: 150px;
    max-width: 100%;
    padding: 10px 15px;
}


.checkbox-holder {
    margin: 8px 0;
}
.checkbox-holder [type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid #dbe0e4;
    border-bottom: 2px solid #dbe0e4;
}

.checkbox-holder [type="checkbox"]:checked:disabled + label:after {
    background-color: transparent;
    border: 2px solid #dbe0e4;
}
.checkbox-holder [type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: transparent;
}
.checkbox-holder [type="checkbox"]:not(:checked):disabled + label,
.checkbox-holder [type="checkbox"]:checked:disabled + label {
    color: #dbe0e4;
}
.checkbox-holder [type="checkbox"]:not(:checked),
.checkbox-holder [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
.checkbox-holder [type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.checkbox-holder [type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #dbe0e4;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.checkbox-holder [type="checkbox"]:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);;
    -moz-transform: rotateZ(37deg);
    -ms-transform: rotateZ(37deg); 
    -o-transform: rotateZ(37deg); 
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%; 
    -moz-transform-origin: 100% 100%; 
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%; 
    transform-origin: 100% 100%;
}
.checkbox-holder [type="checkbox"] + label:before,
.checkbox-holder [type="checkbox"] + label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
    z-index: 1;
}
.checkbox-holder [type="checkbox"]:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #dbe0e4;
    top: 0px;
    z-index: 0;
}
.checkbox-holder [type="checkbox"]:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.checkbox-holder [type="checkbox"]:checked + label:after {
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid #1980ff;
    background-color: #1980ff;
    z-index: 0;
}

.checkbox-holder [type="checkbox"]:checked + label,
.radio-holder [type="radio"]:checked + label {
    color: #1980ff;
}

.radio-holder {
  margin: 8px 0;
}
.radio-holder [type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
}
.radio-holder [type="radio"]:disabled:not(:checked) + label:before {
  border-color: #dbe0e4;
}
.radio-holder [type="radio"]:disabled:not(:checked) + label:before,
.radio-holder [type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: #dbe0e4;
}

.radio-holder [type="radio"]:checked:disabled + label:after {
    background-color: #dbe0e4;
    border: 2px solid #dbe0e4;
}

.radio-holder [type="radio"]:not(:checked),
.radio-holder [type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.radio-holder [type="radio"]:not(:checked) + label,
.radio-holder [type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin-bottom: 0;
  -webkit-transition: 0.18s ease;
  -moz-transition: 0.18s ease;
  -o-transition: 0.18s ease;
  -ms-transition: 0.18s ease;
  transition: 0.18s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.radio-holder [type="radio"] + label:before,
.radio-holder [type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.18s ease;
  -moz-transition: 0.18s ease;
  -o-transition: 0.18s ease;
  -ms-transition: 0.18s ease;
  transition: 0.18s ease;
}
.radio-holder [type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #dbe0e4;
}
.radio-holder [type="radio"]:not(:checked) + label,
.radio-holder [type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.radio-holder [type="radio"] + label:before,
.radio-holder [type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
}
.radio-holder [type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #dbe0e4;
}
.radio-holder [type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid #dbe0e4;
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.radio-holder [type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}
.radio-holder [type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid #1980ff;
  background-color: #1980ff;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.switch {
  display: inline-block;
  padding: 8px;
  margin-right: 16px;
}

.switch input {
  display: none;
}
.switch label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 55px;
  height: 24px;
  border-radius: 25px;
  background: #dbe0e4;
  transition: box-shadow 0.4s;
}
.switch label:after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  width: 22px;
  height: 22px;
  margin: 1px;
  background: #fff;
  border-radius: 50%;
  transition: background 0.4s, left 0.4s, height 0.2s, width 0.2s;
}

.switch input:checked + label {
  box-shadow: inset 0 0 0 48px #1980ff;
  background: transparent;
}

.switch input:checked + label:after {
  left: 31px;
  background: #fff;
}







