 .ui-kit .top-section {
        background-image: url('../images/wall-kit.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        position: absolute;
        top: 25px;
        bottom: 0;
        right: 35px;
        left: 35px;
        text-align: center;
    }

        .ui-kit .top-section .holder {
            margin-top: calc(650px/3);
        }

            .ui-kit .top-section .holder h1,
            .ui-kit .top-section .holder h2 {
                color: #fff;
            }

        .ui-kit .top-section button {
            margin-top: 15px;
        }

        .ui-kit .top-section .btn-negative {
            color: #fff;
            border-color: #fff;
            background-color: transparent;
            margin-left: 10px;
        }

        .ui-kit .top-section .btn-primary {
            margin-right: 10px;
        }

        .ui-kit .top-section .btn-negative:hover {
            color: #000;
            background-color: #fff;
            border-color: #fff;
        }

    .ui-kit .main-container {
        padding: 650px 10% 0 10%;
    }

    .ui-kit .code-holder {
       display: none;
    }

    .ui-kit .code-holder.open {
        display: block;
    }

    .ui-kit .code-holder .nav-tabs li a {
        background-color: #272822;
        border-radius: 0;
        font-weight:  700;
        color: #fff;
    }

    .ui-kit .code-holder .nav-tabs {
        border-bottom:  none;
    }

    .ui-kit .code-holder pre {
        margin-top: 0!important;
        border-radius: 0!important;
    }

    .ui-kit .mb {
        margin-bottom: 30px;
    }

    .ui-kit .headings {
        margin-bottom: 50px;
        padding-top: 70px;
    }

    .ui-kit .wrapper {
        margin-top: 50px;
    }

    .ui-kit .buttons p {
        color: #000002;
    }

    .ui-kit .buttons button {
        margin-bottom: 50px;
        min-width: 366px;
        padding: 16px 120px;
    }

    .ui-kit .buttons .hover button {
        -webkit-box-shadow: 0 6px 5px -6px #000002 inset;
        -moz-box-shadow: 0 6px 5px -6px #000002 inset;
        box-shadow: 0 6px 5px -6px #000002 inset;
    }

    .ui-kit .buttons .hover .btn-primary {
        background-color: #0189ff;
        border-color: #0189ff;
    }

    .ui-kit .buttons .hover .btn-secondary {
        background-color: #4e4e50;
        border-color: #4e4e50;
    }

    .ui-kit .buttons .hover .btn-negative {
        background-color: #4e4e50;
        border-color: #4e4e50;
        color: #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .ui-kit .buttons .active .btn-primary,
    .ui-kit .buttons .active .btn-primary:hover {
        background-color: #0070ce;
        border-color: #0070ce;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .ui-kit .buttons .active .btn-secondary {
        background-color: #010101;
        border-color: #010101;
    }

    .ui-kit .buttons .active .btn-negative {
        background-color: #f2f7fd;
        border: 2px solid #4e4f53;
        color: #4d4e50;
    }

    .ui-kit .input-fields {
        background-color: #fff;
        padding: 10px 20px 20px 20px;
        border-radius: 4px;
        /*-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.16);*/
    }

        .ui-kit .input-fields .holder {
            padding: 30px;
        }

            .ui-kit .input-fields .holder .active .form-control {
                border-color: #87a6bf;
                pointer-events: none;
            }

                .ui-kit .input-fields .holder .active .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #454545;
                }

                .ui-kit .input-fields .holder .active .form-control::-moz-placeholder { /* Firefox 19+ */
                    color: #454545;
                }

                .ui-kit .input-fields .holder .active .form-control:-ms-input-placeholder { /* IE 10+ */
                    color: #454545;
                }

                .ui-kit .input-fields .holder .active .form-control:-moz-placeholder { /* Firefox 18- */
                    color: #454545;
                }

            .ui-kit .input-fields .holder .error .form-control {
                pointer-events: none;
            }

                .ui-kit .input-fields .holder .error .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #ff5d5e;
                }

                .ui-kit .input-fields .holder .error .form-control::-moz-placeholder { /* Firefox 19+ */
                    color: #ff5d5e;
                }

                .ui-kit .input-fields .holder .error .form-control:-ms-input-placeholder { /* IE 10+ */
                    color: #ff5d5e;
                }

                .ui-kit .input-fields .holder .error .form-control:-moz-placeholder { /* Firefox 18- */
                    color: #ff5d5e;
                }

    .ui-kit .checkboxes h3 {
        margin-top: 0;
    }

    .ui-kit .mt {
        margin-top: 30px!important;
    }

.ui-kit .show-code {
    padding:   12px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.ui-kit .show-code:before,
.ui-kit .show-code:after {
    content: '';
    position: absolute;
    width: 99.5%;
    height: 2px;
    box-sizing: border-box;
}

.ui-kit .show-code:before {
    transform: translateX(100%);
    bottom: 0;
    left: 0;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.ui-kit .show-code:after {
    transform: translateX(-100%);
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.ui-kit .show-code:hover {
    text-decoration: none;
    background-color: #1a80fc;
    color: #fff;
    transition:  all ease-in .2s;
    transition-delay: .3s;
}

.ui-kit .show-code:hover:before {
    transition: .1s transform linear, .1s height linear .1s;
    transform: translateX(0);
    height: 100%;
    border-color: #1a80fc;
}

.ui-kit .show-code:hover:after {
    transition: .1s transform linear .2s, .1s height linear .3s;
    transform: translateX(0);
    height: 100%;
    border-color: #1a80fc;
}






@media all and (max-width: 768px) {
     .ui-kit .buttons button {
        width: 100%;
        min-width: 100%;
        padding: 16px;
     }
}

@media all and (min-width: 768px) and (max-width: 992px) {
     .ui-kit .buttons button {
        width: 100%;
        min-width: 100%;
        padding: 8px;
        font-size: 12px;
     }
}

@media all and (min-width: 992px) and (max-width: 1400px) {
     .ui-kit .buttons button {
        width: 100%;
        min-width: 100%;
        padding: 11px;
        font-size: 12px;
     }
}

@media all and (min-width: 1400px) and (max-width: 1700px) {
     .ui-kit .buttons button {
        width: 100%;
        min-width: 100%;
        padding: 16px;
        font-size: 13px;
     }
}

@media all and (max-width: 1200px) {
    .ui-kit .checkboxes {
        display: inline-block;
        float: left;
        margin-right: 30px;
    }
}

@media all and (min-width: 400px) and (max-width: 620px) {
     .ui-kit .checkboxes {
        display: block;
        margin-right: 0;
        float: none;
     }
}

.btn-padding {
    margin-top:16px;
    margin-bottom:16px;
}