
<div class="col-sm-12 text-right">
    <a class="primary-link show-code" ng-click="openCode('#ipf')">
        <i class="lnr lnr-chevron-left"></i>
        <i class="lnr lnr-chevron-right"></i>
        <span>CODE</span>
    </a>
</div>

<div class="code-holder col-sm-12" id="ipf">

    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                HTML
            </uib-tab-heading>
            <pre>
            <code class="language-markup">
                // Input 
                &lt;div class="form-group"&gt;
                    &lt;input type="text" class="form-control" placeholder="Inactive"&gt;
                &lt;/div&gt; 
                
                // Input with error
                &lt;div class="form-group has-error"&gt;
                    &lt;input type="text" class="form-control" placeholder="Inactive"&gt;
                &lt;/div&gt; 
                
                // Input with icon
                &lt;div class="left-icon"&gt;
                    &lt;input type="text" class="form-control" placeholder="Input with icon"&gt;
                    &lt;i class="icon lnr lnr-envelope"&gt;&lt;/i&gt;
                &lt;/div&gt; 
                
                // Select
                &lt;div class="select-wrapper"&gt;
                    &lt;select class="form-control"&gt;
                        &lt;option&gt;Choose City&lt;/option&gt;
                        &lt;option&gt;2&lt;/option&gt;
                        &lt;option&gt;3&lt;/option&gt;
                        &lt;option&gt;4&lt;/option&gt;
                    &lt;/select&gt;
                &lt;/div&gt; 
                
                // Datepicker
                &lt;div class="dp-holder"&gt;
                    &lt;div class="left-icon"&gt;
                        &lt;input type="text" ng-click="openDp()" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dt" show-button-bar="false" is-open="popup.opened" datepicker-options="popupOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" /&gt;
                        &lt;i class="icon lnr lnr-calendar-full" ng-click="openDp()"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;  
                  
                // Datepicker with start end end date
                &lt;div class="dp-holder interval"&gt;
                    &lt;div class="left-icon"&gt;
                        &lt;div class="dp-wrapper"&gt;
                            &lt;span class="from"&gt;from&lt;/span&gt;
                            &lt;input type="text" ng-click="openInterval()" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="start" show-button-bar="false" is-open="interval.opened" datepicker-options="startOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" /&gt;
                            
                            &lt;span class="to"&gt;to&lt;/span&gt;
                            &lt;input type="text" ng-click="openInterval()" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="end" show-button-bar="false" is-open="interval.opened" datepicker-options="endOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" /&gt;
                        &lt;/div&gt;
                        &lt;i class="icon lnr lnr-calendar-full" ng-click="openInterval()"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                // Timepicker
                &lt;div class="tp-holder"&gt;
                    &lt;div class="left-icon"&gt;
                        &lt;div uib-timepicker ng-model="time" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false" show-spinners="false"&gt;&lt;/div&gt;
                        &lt;i class="icon lnr lnr-clock"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                // Textarea
                &lt;textarea class="form-control" placeholder="Describe yourself here..."&gt;&lt;/textarea&gt;
                // Checkbox
                &lt;div class="checkbox-holder"&gt;
                    &lt;input type="checkbox" value="" id="check1"&gt;
                    &lt;label for="check1"&gt;Unchecked&lt;/label&gt;
                &lt;/div&gt;
                // Disabled checkbox 
                &lt;div class="checkbox-holder"&gt;
                    &lt;input type="checkbox" value="" id="check1" disabled&gt;
                    &lt;label for="check1"&gt;Unchecked&lt;/label&gt;
                &lt;/div&gt;
                // Radio button
                &lt;div class="radio-holder"&gt;
                    &lt;input type="radio" value="" id="radio2" name="group" checked&gt;
                    &lt;label for="radio2"&gt;Radio is on&lt;/label&gt;
                &lt;/div&gt;
                // Disabled radio button 
                &lt;div class="radio-holder"&gt;
                    &lt;input type="radio" value="" id="radio2" name="group" disabled&gt;
                    &lt;label for="radio2"&gt;Radio is on&lt;/label&gt;
                &lt;/div&gt;
                // Switch
                &lt;div class="switch"&gt;
                    &lt;label&gt;
                        &lt;input type="checkbox"&gt;
                            &lt;span class="slider"&gt;&lt;/span&gt;
                        &lt;/label&gt;
                    &lt;span&gt;Inactive&lt;/span&gt;
                &lt;/div&gt;
            </code>
            </pre>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                JS
            </uib-tab-heading>
            <pre>
            <code class="language-javascript">
                // Simple datepicker
                $scope.popup = {
                    opened: false
                };
                $scope.openDp = function () {
                    $scope.popup.opened = true;
                };
                $scope.popupOptions = {
                    minDate: new Date(),
                    showWeeks: false
                }
                // Datepicker with start and end date
                $scope.startOptions = {
                    minDate: new Date(),
                    showWeeks: false
                }
                $scope.endOptions = {
                    minDate: new Date(),
                    showWeeks: false
                }
                $scope.interval = {
                    opened: false
                };
                $scope.openInterval = function () {
                    $scope.interval.opened = true;
                };
            </code>
            </pre>
        </uib-tab>
    </uib-tabset>

</div>
